# Yelp Data (Initial Exploration)

Import the python scientific suite

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import sklearn
import seaborn as sns
import scipy

# This is importing a "future" python version 3 print function.
from __future__ import print_function
from __future__ import division
%matplotlib inline
sns.set()
sns.set_context('paper', font_scale = 1.5)
sns.set_style('ticks')

/Users/Franklin/anaconda/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [2]:
file_dir = '/Volumes/1TB_BAY/yelp_dataset_challenge_academic_dataset/'

In [3]:
ls /Volumes/1TB_BAY/yelp_dataset_challenge_academic_dataset/

Dataset_Challenge_Academic_Dataset_Agreement.pdf
Yelp_Dataset_Challenge_Terms_round_7.pdf
json_to_csv_converter.py*
yelp_academic_dataset_business.csv
yelp_academic_dataset_business.json
yelp_academic_dataset_checkin.json
yelp_academic_dataset_review.csv
yelp_academic_dataset_review.json
yelp_academic_dataset_review_top100.csv
yelp_academic_dataset_review_top100_clean.csv
yelp_academic_dataset_review_top30.csv
yelp_academic_dataset_review_top40.csv
yelp_academic_dataset_tip.json
yelp_academic_dataset_user.json

In [4]:
b = pd.read_csv(file_dir + 'yelp_academic_dataset_business.csv') #b for business

/Users/Franklin/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (1,4,7,17,29,49,60,62,79,86,94) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [30]:
la['name']

2215                 Comfort Inn Denver Southeast Area
2216                                    Domino's Pizza
2217                            Viad Tower Restaurants
2218                                        Sky Lounge
2219                                           Palazzo
2220          Law Offices of Roger K. Spencer, P.L.L.C
2221                             Virginia Auto Service
2222                                      Wild Thaiger
2223                                    V's Barbershop
2224                 Central Park Square Athletic Club
2225                            Central Phoenix OB/Gyn
2226                          Renaissance Fine Jewelry
2227             Terrace Cafe At Hyatt Regency Phoenix
2228                  Best Western Central Phoenix Inn
2229                                           Safeway
2230                                       Canyon Cafe
2231                             Teeter House Tea Room
2232                                DeChance & Company
2233                                       Burger King
2234                                Copper Square Cafe
2235                St Mary's Basilica Catholic Church
2236                                          Circle K
2237                                      Heard Museum
2238                          Herberger Theater Center
2239                       Arizona School For the Arts
2240                                 Zanon Law Offices
2241                                         Taco Bell
2242                            Majerle's Sports Grill
2243                                Michael's Jewelers
2244                                        Yellow Cab
                             ...
77363               Skin Chic - Skin & Lashes by Carly
77368                                 CoR Tapas & Wine
77369                                  The Local Press
77373          Lee & Patricia Sepanek's Holiday Lights
77374                                          Popeyes
77375                                      Paz Cantina
77378                              Rapid iPhone Repair
77380             Styles By Miss Ahreum At Regis Salon
77385                              American Way Market
77386                                   Vinnie's Pizza
77389                           Chipotle Mexican Grill
77393                       Kiss Pollos Estilo Sinaloa
77394                             Holiday Pet Festival
77402                            Creek Side Taco Shack
77405    Elite Event: Ugly Sweater Social At Yo Waffle
77408                          Horne Hyundai - Service
77409                                     Panera Bread
77410                               Sweet Cream Donuts
77416                           V's Barbershop Gilbert
77419                             Blue 32 Sports Grill
77423                                     Salad and Go
77426            Singing Pandas Asian Restaurant & Bar
77428                      Urban Renewal Skin Care Bar
77430                        Fractured Prune Doughnuts
77432                               AliKat Photography
77433              Harkins Camelview at Fashion Square
77434                                  Rita's Burritos
77441                                        Starbucks
77442                                Tip Toe Nails Spa
77444                            Infiniti On Camelback
Name: name, dtype: object

In [7]:
name, counts = np.unique(b['name'], return_counts = True)
counts_df = pd.DataFrame(data = {'name': name, 'counts':counts})
counts_df.sort_values(by = 'counts', ascending = False).head(100).to_csv('top100_chains.csv')

In [47]:
import ast
categories = [ast.literal_eval(i) for i in b['categories']]
[item for sublist in l for item in sublist]

In [51]:
np.unique(categories, return_counts = True)

(array([[],
        ['Accessories', 'Fashion', 'Shopping', 'Cosmetics & Beauty Supply', 'Beauty & Spas'],
        ['Accessories', 'Fashion', 'Shopping', 'Shoe Stores', 'Jewelry'],
        ...,
        ['Yoga', 'Physical Therapy', 'Massage Therapy', 'Health & Medical', 'Fitness & Instruction', 'Active Life'],
        ['Yoga', 'Tai Chi', 'Adult Education', 'Fitness & Instruction', 'Active Life', 'Education'],
        ['Yoga', 'Tai Chi', 'Beauty & Spas', 'Fitness & Instruction', 'Active Life', 'Massage']], dtype=object),
 array([260,   1,   1, ...,   1,   1,   1]))

In [8]:
import csv
from textstat.textstat import textstat
import pattern.en as en

In [28]:
def ReadJson(myfile){}
    # read the entire file into a python array
    with open(myfile, 'rb') as f:
        data = f.readlines()

    # remove the trailing "\n" from each line
    data = map(lambda x: x.rstrip(), data)

    # each element of 'data' is an individual JSON object.
    # i want to convert it into an *array* of JSON objects
    # which, in and of itself, is one large JSON object
    # basically... add square brackets to the beginning
    # and end, and have all the individual business JSON objects
    # separated by a comma
    data_json_str = "[" + ','.join(data) + "]"

    # now, load it into pandas
    data_df = pd.read_json(data_json_str)
    
    return data_df

SyntaxError: invalid syntax (<ipython-input-28-2e9d324a193c>, line 1)

In [26]:
r = ReadJson('')

ValueError: Trailing data

In [14]:
r = pd.read_csv(file_dir + 'yelp_academic_dataset_review_top40.csv', quoting = csv.QUOTE_NONE, sep = ',',error_bad_lines = False) #r for review

In [19]:
r = pd.read_csv(file_dir + 'yelp_academic_dataset_review_top30.csv')

In [28]:
print(textstat.flesch_reading_ease(r['text'][0]))
print(textstat.flesch_kincaid_grade(r['text'][0]))

72.16
7.2

In [49]:
def ReviewMetrics(r):
    fk_re = []
    fk_gr = []
    
    for rev in r['text']:
        fk_re.append(textstat.flesch_reading_ease(rev)) #reading ease
        fk_gr.append(textstat.flesch_kincaid_grade(rev)) #grade reading level
    
    return pd.DataFrame(data = [fk_re, fk_gr]).T

In [50]:
ReviewMetrics(r)

        0    1
0   72.16  7.2
1   68.77  6.4
2   84.68  4.4
3   90.77  2.1
4   79.60  6.4
5   84.68  4.4
6   96.18  2.1
7   70.80  5.6
8   87.05  5.6
9   74.19  6.4
10  85.69  4.0
11  83.66  4.8
12  76.56  7.6